/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .map-container-4{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0px;
    }
    .map-container-4 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    #btnPesq{
      background: #ee0979;
      height: 40px;
    }

    #btnCad{
      width: px;
      height: 40px;
            
     }

     .bg-black{
      background-color:#000!important
  }